<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cat.claudi.alfredworkflow.random_file_picker</string>
	<key>connections</key>
	<dict>
		<key>18D64935-3D3E-426B-AB73-BF54FE73EB1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C25016B-F972-47CD-B2EE-DAB9BBA49496</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AD254CB-357C-4889-98BF-CD8BEEB41D24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AFE0C71-C150-4318-ACA8-1AE2DD7A03D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22E5321F-D45F-4424-9678-F4A0278D3E6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C450DD2C-F01F-4E1A-BA72-991476BFBCF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AFE0C71-C150-4318-ACA8-1AE2DD7A03D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18D64935-3D3E-426B-AB73-BF54FE73EB1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CB6A2A4-0E8F-4A05-A9E0-38EDBA7337BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBED4289-ADD1-4053-A38A-0CCCEB76F8DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F30A673-E2C2-4398-97B7-CB20A7E038AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1EF38D9-BECE-4171-9F26-98BD0C3B96CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71AFC24F-3783-4189-902F-8858392B12B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6E8A180-76DA-47C3-BE02-44118CBE43C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>739F94F1-DF15-4A22-A151-7E008F846010</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBED4289-ADD1-4053-A38A-0CCCEB76F8DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7872E950-D2B4-4F1B-9F09-FC8C1B4BA639</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71AFC24F-3783-4189-902F-8858392B12B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B6962B7-8993-4EBF-91EA-041A3C0DFCFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD28022F-1950-4E95-8D71-00A6399E5C73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9C47986-329D-480B-8797-2616D6608E4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F56EDAC3-79B3-4B96-B275-3E7E1AE1D355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C450DD2C-F01F-4E1A-BA72-991476BFBCF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F85C821-C554-4A93-BA2D-C2C3AF8AD8BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6E8A180-76DA-47C3-BE02-44118CBE43C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F85C821-C554-4A93-BA2D-C2C3AF8AD8BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBED4289-ADD1-4053-A38A-0CCCEB76F8DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F30A673-E2C2-4398-97B7-CB20A7E038AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B6962B7-8993-4EBF-91EA-041A3C0DFCFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E55C3764-BD8C-48E1-9ACA-3A1E7A8C61A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7872E950-D2B4-4F1B-9F09-FC8C1B4BA639</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1AD254CB-357C-4889-98BF-CD8BEEB41D24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9C47986-329D-480B-8797-2616D6608E4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1EF38D9-BECE-4171-9F26-98BD0C3B96CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F85C821-C554-4A93-BA2D-C2C3AF8AD8BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4F75646-4780-4547-8C79-126B64E812DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>739F94F1-DF15-4A22-A151-7E008F846010</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E55C3764-BD8C-48E1-9ACA-3A1E7A8C61A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22E5321F-D45F-4424-9678-F4A0278D3E6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD28022F-1950-4E95-8D71-00A6399E5C73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F85C821-C554-4A93-BA2D-C2C3AF8AD8BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Claudia</string>
	<key>description</key>
	<string>Copy a random subset of files to another folder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Random File Picker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Pick random files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E4F75646-4780-4547-8C79-126B64E812DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for file types, please wait …</string>
				<key>script</key>
				<string>libexec/available_file_types
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>libexec/available_file_types</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>File types</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1EF38D9-BECE-4171-9F26-98BD0C3B96CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>DBED4289-ADD1-4053-A38A-0CCCEB76F8DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>list_file_types</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6F30A673-E2C2-4398-97B7-CB20A7E038AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>list_file_types</string>
					<key>base_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>739F94F1-DF15-4A22-A151-7E008F846010</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>dispatch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5CB6A2A4-0E8F-4A05-A9E0-38EDBA7337BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>dispatch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3F85C821-C554-4A93-BA2D-C2C3AF8AD8BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export new_quantity="${1}"
/usr/bin/ruby -E utf-8 libexec/edit_quantity_script_filter_result.rb
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Edit quantity</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FD28022F-1950-4E95-8D71-00A6399E5C73</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>edit_quantity</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9B6962B7-8993-4EBF-91EA-041A3C0DFCFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>state_filename="${alfred_workflow_data}/state.pstore"

destination_folder="$(osascript libexec/choose_destination.applescript)"

if [[ "${destination_folder}" ]]; then
  /usr/bin/ruby -E utf-8 \
    libexec/save_state.rb "${state_filename}" \
    'destination_folder' "${destination_folder}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>22E5321F-D45F-4424-9678-F4A0278D3E6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>choose_destination</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E55C3764-BD8C-48E1-9ACA-3A1E7A8C61A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>list_file_types</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C450DD2C-F01F-4E1A-BA72-991476BFBCF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>libexec/refresh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>71AFC24F-3783-4189-902F-8858392B12B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>list_file_types</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C6E8A180-76DA-47C3-BE02-44118CBE43C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>refresh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7872E950-D2B4-4F1B-9F09-FC8C1B4BA639</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Copying files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2AFE0C71-C150-4318-ACA8-1AE2DD7A03D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>state_filename="${alfred_workflow_data}/state.pstore"

set -o pipefail

mdls -raw \
  -name kMDItemContentType \
  -name kMDItemFSName \
  -name kMDItemKind \
  "${base_path?}"/* \
  | /usr/bin/ruby -0 -E utf-8 \
    libexec/copy_files.rb "${state_filename}"

exitstatus="$?"

if [[ "${exitstatus}" -ne 0 ]]; then
  printf 'Copying failed with status code %d' "${exitstatus}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>18D64935-3D3E-426B-AB73-BF54FE73EB1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1C25016B-F972-47CD-B2EE-DAB9BBA49496</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>submit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1AD254CB-357C-4889-98BF-CD8BEEB41D24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>F56EDAC3-79B3-4B96-B275-3E7E1AE1D355</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>reveal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B9C47986-329D-480B-8797-2616D6608E4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Random File Picker

**Random File Picker** is an [Alfred](https://www.alfredapp.com/) workflow.

It adds a file action called _Pick random files_ to Alfred. The file action allows the user to enter a number, then it picks that exact number of files randomly from the chosen folder. It then copies that random set of files to a chosen destination folder.

This workflow was inspired by Sr_Navarre’s posts on [Reddit](https://www.reddit.com/r/Alfred/comments/86aztk/could_someone_who_knows_about_writing_scripts/) and [the Alfred forum](https://www.alfredforum.com/topic/11363-how-can-i-use-alfred-to-choose-a-random-selection-from-a-large-group-of-files/).


## Release history

- Current version: v0.1


## Requirements

Random File Picker has the following requirements:

- Alfred&amp;nbsp;3.5 or newer (including the **Alfred&amp;nbsp;Powerpack**) by Andrew and Vero Pepperrell of Running&amp;nbsp;with&amp;nbsp;Crayons Ltd.

- macOS 10.12 Sierra or newer


## Main features

This workflow lets the user choose a number of files per file type, for example:

- PNG file × 50
- MPEG-4 file × 3

It also allows the user to pick a destination folder, for example `~/Downloads`. This specifies the location where the random set of files will be copied.

For each selected file type, the workflow then picks the specified number of random files (per file type) and copies those files to the chosen destination folder.


## Example

1. Open Alfred and type `~/Pictures`.
2. Press the right arrow key (`→`), or whatever key you have configured to invoke Alfred’s list of file actions.
3. Choose the file action _Pick random files._
4. Choose one or more file types and specify the quantities.
5. Choose a destination folder.
6. Hit _Submit and copy random files._


## Acknowledgements

Random File Picker depends on (and could not been have made without):

- [alfred2-ruby-framework](https://github.com/canadaduane/alfred2-ruby-framework) by Zhao Cai, and

- of course, [Alfred](https://www.alfredapp.com/) by Andrew and Vero Pepperrell of Running&amp;nbsp;with&amp;nbsp;Crayons Ltd.


# Legal notice

Random File Picker is in no way affiliated with, nor has it any connection to, nor is it endorsed by, Andrew and Vero Pepperrell or their company Running with Crayons Ltd., or Zhao Cai.


# License

Copyright (c) 2018 Claudia &lt;clau@tiqua.de&gt;

Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.</string>
	<key>uidata</key>
	<dict>
		<key>18D64935-3D3E-426B-AB73-BF54FE73EB1C</key>
		<dict>
			<key>note</key>
			<string>Copy files</string>
			<key>xpos</key>
			<integer>1430</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>1AD254CB-357C-4889-98BF-CD8BEEB41D24</key>
		<dict>
			<key>note</key>
			<string>submit?</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>1C25016B-F972-47CD-B2EE-DAB9BBA49496</key>
		<dict>
			<key>xpos</key>
			<integer>1660</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>22E5321F-D45F-4424-9678-F4A0278D3E6B</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>2AFE0C71-C150-4318-ACA8-1AE2DD7A03D7</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>3F85C821-C554-4A93-BA2D-C2C3AF8AD8BF</key>
		<dict>
			<key>xpos</key>
			<integer>1680</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>5CB6A2A4-0E8F-4A05-A9E0-38EDBA7337BD</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>6F30A673-E2C2-4398-97B7-CB20A7E038AF</key>
		<dict>
			<key>note</key>
			<string>list_file_types?</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>71AFC24F-3783-4189-902F-8858392B12B4</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>739F94F1-DF15-4A22-A151-7E008F846010</key>
		<dict>
			<key>note</key>
			<string>Initialize variables</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>7872E950-D2B4-4F1B-9F09-FC8C1B4BA639</key>
		<dict>
			<key>note</key>
			<string>refresh?</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>9B6962B7-8993-4EBF-91EA-041A3C0DFCFD</key>
		<dict>
			<key>note</key>
			<string>edit_quantity?</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>B9C47986-329D-480B-8797-2616D6608E4A</key>
		<dict>
			<key>note</key>
			<string>reveal?</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>C450DD2C-F01F-4E1A-BA72-991476BFBCF8</key>
		<dict>
			<key>note</key>
			<string>→ list_file_types</string>
			<key>xpos</key>
			<integer>1380</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>C6E8A180-76DA-47C3-BE02-44118CBE43C7</key>
		<dict>
			<key>note</key>
			<string>→ list_file_types</string>
			<key>xpos</key>
			<integer>1380</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>DBED4289-ADD1-4053-A38A-0CCCEB76F8DD</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>E1EF38D9-BECE-4171-9F26-98BD0C3B96CF</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>E4F75646-4780-4547-8C79-126B64E812DB</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>E55C3764-BD8C-48E1-9ACA-3A1E7A8C61A9</key>
		<dict>
			<key>note</key>
			<string>choose_destination?</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>F56EDAC3-79B3-4B96-B275-3E7E1AE1D355</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>1120</integer>
		</dict>
		<key>FD28022F-1950-4E95-8D71-00A6399E5C73</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/claui/alfred-random_file_picker</string>
</dict>
</plist>
